
<header class="panel panel-fill">
  <div class="grid-columns grid-temp:auto justify-space-between w-full">
    <div>site title</div>
    <div>
      <strong><%= title %></strong>
    </div>
    <div>login</div>
  </div>
</header>