// Place all the styles related to the project_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@use 'palette-printer' as p

\*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    overflow-x: hidden

.grid-temp\:auto-1fr
    --grid-temp: auto
    --grid-auto: 1fr

.grid-temp\:1p-1fr
    --grid-temp: 18em
    --grid-auto: 1fr

.grid-rows
    display: grid
    grid-auto-flow: row
    grid-template-rows: var(--grid-temp, inital)
    grid-auto-rows: var(--grid-auto, inherit)

.grid-columns
    display: grid
    grid-auto-flow: column
    grid-template-columns: var(--grid-temp, inherit)
    grid-auto-columns: var(--grid-auto, inherit)



.fill-screen
    width: 100vw
    height: auto
    min-height: 100vh

.panel
    padding: get-size('300')
    border-radius: .3em
    min-width: 1em
    min-height: 1em
    pointer-events: auto
    background-color: p.palette('background')

.shadow
    box-shadow: 0 0 30px -8px p.palette('background-body')

.fixed-gui
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    pointer-events: none

.pos-lb
    bottom: 0
    left: 0

.pos-r
    right: 0
    bottom: 0
    top: 0

.open-slide-right
    transition: right 300ms ease-in-out

.open-slide-right[closed]
    right: -100%
.open-slide-right[open]
    right: 0%


.dl-split
    display: grid

.border
    border: 1px solid p.palette('border')

.alert
    border: 1px solid p.palette('alert-scribe')
    box-shadow: 0 0 5px p.palette('alert-scribe')

.notice
    border: 1px solid p.palette('notice-scribe')
    box-shadow: 0 0 5px p.palette('notice-scribe')
