<div class="[ gui-overlay ]">
  <div class="[ w-full h-full pos-relative ]">

    <div class="
        [ pos-absolute pos-r ]
        [ pt-300 pb-300 pl-300 ]
        [ w-full lg:w-2p ]
      ">
      <aside open class="
        [ w-full h-full ]
        [ pos-relative open-slide-right ]">

        <div class="red panel h-full shadow border">
          Aside Content Search and stuff
        </div>
      
      </aside>
    </div>
      
    <div class="
      context-menu 
      dl-context panel panel-fill">
    </div>
    

    <div class="pos-absolute pos-lb w-full">  
      <div class="
          [ grid-rows g-300 ]
          [ m-300 sm:m-900 lg:w-2p ]
        ">
        <% if notice %>
          <p class="
            [ body-fill p-300 notice-scribe ] 
            [ notice ] 
            [ panel ]"
            ><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="
            [ alert ]
            [ body-fill alert-scribe p-300 ] 
            [ panel ]"
            ><%= alert %></p>
        <% end %>
      </div>
    </div>
  
  </div>
</div>