<head>
  <title>AcumenScribe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
  <%= stylesheet_pack_tag "application" %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  
</head>