<!DOCTYPE html>
<html>
<%= render partial: 'layouts/head' %>

<body>

  <div class="project-dashboard-layout">

    <div class="
      [ grid-rows grid-temp:auto-1fr fill-screen ]
      [ p-200 g-200 ]
      ">


      <div class="[ dl-header ]">
        <header class="panel panel-fill">
          <p>header</p>
        </header>
      </div>
       
      <div class="
        [ grid-columns grid-temp:1p-1fr ]
        [ g-200 ]
        ">
    
        <div class="branch-tree dl-side panel panel-fill">
    
        </div>
    
        <div class="board-page dl-center panel panel-fill">
        <main>
          <%= yield %>
        </main>
        </div>
    
    
      </div>
    
    </div>

    <%= render partial: 'layouts/gui_overlay' %>


  </div>
</body>
</html>
